@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 214, 219, 220;
    --background-end-rgb: 255, 255, 255;
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
    }
  }

  .emoji-404{

    position: relative;
    animation: mymove 2.5s infinite;
  }
  
  @keyframes mymove {
    33%   {top: 0px;}
    66%  {top: 20px;}
    100%  {top: 0px}
  
  
  
  }